config.php
.DS_Store
*.swp
iphone/GuessThatFriend/GuessThatFriend.xcodeproj/project.xcworkspace/xcuserdata/tianyiwang.xcuserdatad/UserInterfaceState.xcuserstate
iphone/GuessThatFriend/GuessThatFriend.xcodeproj/xcuserdata/tianyiwang.xcuserdatad/xcdebugger/
iphone/GuessThatFriend/GuessThatFriend.xcodeproj/project.xcworkspace/xcuserdata/Colin.xcuserdatad/UserInterfaceState.xcuserstate
iphone/GuessThatFriend/GuessThatFriend.xcodeproj/xcuserdata/Colin.xcuserdatad/xcschemes/GuessThatFriend.xcscheme
iphone/GuessThatFriend/GuessThatFriend.xcodeproj/xcuserdata/Colin.xcuserdatad/xcschemes/xcschememanagement.plist
iphone/GuessThatFriend/GuessThatFriend.xcodeproj/xcuserdata/bryan.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
iphone/GuessThatFriend/GuessThatFriend.xcodeproj/xcuserdata/jasonsze.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
iphone/GuessThatFriend/GuessThatFriend.xcodeproj/xcuserdata/tianyiwang.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
iphone/GuessThatFriend/GuessThatFriend.xcodeproj/xcuserdata/arjanirh.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist


