[submodule "iphone/libraries/JSONKit"]
	path = iphone/libraries/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "iphone/libraries/HJCache"]
	path = iphone/libraries/HJCache
	url = git://github.com/markofjohnson/HJCache.git
[submodule "iphone/libraries/facebook-ios-sdk"]
	path = iphone/libraries/facebook-ios-sdk
	url = git://github.com/bmish/facebook-ios-sdk.git
